/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 5, 2018, 9:22:29 PM
    Author     : MITHU
*/
.myClass{
    width: 500px;
    height: 300px;
    transition: all 0.3s ease;
    opacity: 0.5;
    background-color: gray;
}
.myClass:hover{
    opacity: 1;
    background-color: blue;
}

